extends layout

block content
    title = 'Login'
    h1 Singup
    br
    form(method = "post")
        span username
        input(type= "text",name="username",required=true)
        br
        span Password
        input(type="password",name="password",required=true)
        br
        br
        input(type="submit")
