extends layout

block content
  h1 Login Page
  form(method='post')
    input(type='text', name = 'username' placeholder='username')
    br
    input(type='password', name = 'password' placeholder='password')
    br
    input(type='submit' name='Submit')
